<section class="carDet">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-8 col-sm-12">
                <div class="row childRow mx-1">
                    <div class="col-12 mt-1">
                        <div class="d-flex justify-content-between border-bottom pb-1 flex-column flex-md-row">
                            <a href="">Back to search results</a>
                            <div class="d-flex">
                                <div>
                                    <i class="fa-solid fa-car"></i>
                                    <span class="ms-2"><a href="">Car Details</a></span>
                                </div>
                                <div class="ms-2">
                                    <i class="fa-solid fa-circle-info"></i>
                                    <span class="ms-2"><a href="">important info</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12 mt-3">
                        <p><strong>Kia picanto</strong> <small> or simillar</small></p>
                        <img src="../../../../../assets/picanto_5_door_lrg.jpg" class="car" alt="">
                        <p class="text-center"><small>Budget</small></p>
                        <img src="../../../../../assets/62_logo.png" alt="">
                        <button>Important info about your rental</button>
                    </div>
                    <div class="col-lg-8 ms-lg-5 col-sm-12 mt-3">
                        <div class="d-flex flex-column flex-md-row justify-content-between">
                            <div>
                                <div class="d-flex">
                                    <div>
                                        <img src="https://www.rentalcars.com/images/replatforming/icons/seats--filled.svg"
                                            alt="">
                                        <span class="carDetails">5 Seats</span>
                                    </div>
                                    <div class="ms-5">
                                        <img src="https://www.rentalcars.com/images/replatforming/icons/doors--filled.svg"
                                            alt="">
                                        <span class="ms-2 carDetails">4 Doors</span>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="my-2">
                                        <img src="https://www.rentalcars.com/images/site_graphics/newsite/tick-sml.png"
                                            alt="">
                                        <span class="carDetails">Without Air Conditioning</span>
                                    </div>
                                    <div class="ms-lg-3">
                                        <img src="https://www.rentalcars.com/images/replatforming/icons/transmission__auto--filled.svg"
                                            alt="">
                                        <span class="carDetails">Automatic gearbox</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-lg-end">
                                <h5>
                                    <strong>EGP3523.70</strong>
                                </h5>
                                <span class="carDetailPrice"><small><small> Credit Card Charge <strong>EGP0.00</strong></small></small></span>
                            </div>
                        </div>

                        <div class="mt-5 ms-lg-3 w-75">
                            <div class="mb-2"><strong>Include the price</strong></div>
                            <div class="d-flex justify-content-between flex-column flex-md-row">
                                <div>
                                    <img src="https://www.rentalcars.com/images/site_graphics/newsite/tick-sml.png"
                                    alt="">
                                    <span>Cancellation</span>
                                </div>
                                <div>
                                    <img src="https://www.rentalcars.com/images/site_graphics/newsite/tick-sml.png"
                                    alt="">
                                    <span>Amendments</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between flex-column flex-md-row">
                                <div>
                                    <img src="https://www.rentalcars.com/images/site_graphics/newsite/tick-sml.png"
                                    alt="">
                                    <span>Theft Protection</span>
                                </div>
                                <div>
                                    <img src="https://www.rentalcars.com/images/site_graphics/newsite/tick-sml.png"
                                    alt="">
                                    <span>Collision Damage Waiver</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goodNews mx-1">
                    <p class="_title mb-0"><strong>Good news, Full Insurance is available</strong></p>
                    <p class="my-0"><small>Cover any bumps or scrapes and have a hassle-free rental. Book everything in
                            one place quickly and easily.
                        </small> </p>
                </div>
                <div class="d-flex childRow mt-2 mx-lg-1 px-2 justify-content-between align-items-lg-end py-2 flex-column flex-md-row">
                    <div>
                        <h5>Supplier Location</h5>
                        <p class="mb-0"><strong>Tel Aviv Ben Gurion Airport</strong></p>
                        <p>Tel Aviv, Tel Aviv, Israel, 7015001</p>
                        <p class="mb-0"><strong>Opening hours</strong></p>
                        <p>Mon - Sun 24hr</p>
                    </div>
                    <div>
                        <button>Show on map</button>
                    </div>
                </div>
                <div class="goodNews mx-1">
                    <p class="_title mb-0"><strong>This car is costing you just EGP4115.18 – a real bargain…</strong>
                    </p>
                    <p class="my-0"><small>At that time of year, the average Mini at Tel Aviv Ben Gurion Airport costs
                            EGP5930.34!
                        </small> </p>
                </div>
                <div class="childRow mt-2 mx-1 px-2 py-2">
                    <h5>Good Choice</h5>
                    <div class="d-flex   justify-content-between ">
                        <div>
                            <h5>Supplier Location</h5>
                            <p class="mb-0"><strong>Tel Aviv Ben Gurion Airport</strong></p>
                            <p>Tel Aviv, Tel Aviv, Israel, 7015001</p>
                            <p class="mb-0"><strong>Opening hours</strong></p>
                            <p>Mon - Sun 24hr</p>
                        </div>

                    </div>
                </div>

                <div class="btnContainer d-flex justify-content-lg-end flex-column flex-md-row">
                    <button class="btn-grey">
                        <h5><strong>Go to book</strong> </h5>
                        <span>without full protection</span>
                    </button>
                    <button class="btn-green">
                        <h5><strong>Go to book</strong> </h5>
                        <span>with full protection</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>