.navbar {
    background: #0771c4;
    z-index: 10;
    // padding-inline: 6rem;
    // font-family: Lato-Bold;
    font-size: 15px;
    margin-top: 0;
    #navbarSupportedContent {
        flex-grow: 0;
        .nav-link {
            display: block;
            padding: 0.5rem 1rem;
            font-size: 12;
            border-left: 1px solid #eee;
            @media screen and (max-width:768px) {
                border: none;
            }
        }
    }
    .navbar-brand {
        // img {
        //     width: 95px;
        // }
    }
}

@media screen and (max-width: 769px) {
    .navbar {
        padding-inline: 1rem;
        .d-flex {
            align-items: center;
        }
    }
}

@media (min-width: 770px) and (max-width: 1024px) {
    .navbar {
        padding-inline: 2rem;
    }
}